In [267]:
import os
from pathlib import Path

import pandas as pd

## Load + Do Data Exploration

In [268]:
# traverse to root of repo dynamically
cwd = Path().cwd()
if "_FLAG_CWD_SET" not in globals():
  while cwd.name != "src":
    print("looking for repo root:", cwd.parent)
    cwd = cwd.parent
  os.chdir(cwd.parent)
print("In repo root:", Path().cwd())
_FLAG_CWD_SET = True

In repo root: /home/will/cs5100-project

In [269]:
# this assumes that you have already run the paprika parser code to code
# (see 'make build' for more details)
INPUT_PATH: Path = Path("resources/paprika/.export.paprikarecipes.parsed.json")
OUTPUT_PATH: Path = INPUT_PATH.parent / ".export.paprikarecipes.cleaned.json"
INPUT_PATH.absolute()

PosixPath('/home/will/cs5100-project/resources/paprika/.export.paprikarecipes.parsed.json')

In [270]:
df = pd.read_json(INPUT_PATH)
df = df.replace(r"^\s*$", pd.NA, regex=True)

In [271]:
print(f"{df.shape=}\n\n{df.columns=}")

df.shape=(100, 24)

df.columns=Index(['uid', 'created', 'hash', 'name', 'description', 'ingredients',
       'directions', 'notes', 'nutritional_info', 'prep_time', 'cook_time',
       'total_time', 'difficulty', 'servings', 'rating', 'source',
       'source_url', 'photo', 'photo_large', 'photo_hash', 'image_url',
       'photo_data', 'photos', 'categories'],
      dtype='object')

In [272]:
# from above we can see there may be some columns we don't need since this is purely a
# text based GUI/TUI the user will be talking with
df = df.drop(
  columns=[
    "photo_hash",
    "photos",
    "photo",
    "image_url",
    "photo_large",
    "photo_data",
    "hash",
    "uid",
  ]
)

print(f"{df.columns=}")

df.columns=Index(['created', 'name', 'description', 'ingredients', 'directions', 'notes',
       'nutritional_info', 'prep_time', 'cook_time', 'total_time',
       'difficulty', 'servings', 'rating', 'source', 'source_url',
       'categories'],
      dtype='object')

### Summary Stats

In [273]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   created           100 non-null    object
 1   name              100 non-null    object
 2   description       100 non-null    object
 3   ingredients       100 non-null    object
 4   directions        100 non-null    object
 5   notes             81 non-null     object
 6   nutritional_info  100 non-null    object
 7   prep_time         100 non-null    object
 8   cook_time         100 non-null    object
 9   total_time        100 non-null    object
 10  difficulty        100 non-null    object
 11  servings          100 non-null    int64
 12  rating            100 non-null    float64
 13  source            100 non-null    object
 14  source_url        0 non-null      object
 15  categories        100 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 12.6+ KB

In [274]:
df.describe(include="all")  # for object columns

,created,name,description,ingredients,directions,notes,nutritional_info,prep_time,cook_time,total_time,difficulty,servings,rating,source,source_url,categories
count,100,100,100,100,100,81,100,100,100,100,100,100.000000,100.000000,100,0,100
unique,100,15,15,100,68,4,87,26,45,60,3,NaN,NaN,5,0,5
top,2021-10-18 22:55:02,Classic Beef Stew,A delicious recipe for classic beef stew perfect for any occasion.,2 tbsp lemon juice\n5 pcs chicken breast\n4 cups flour\n5 cups sugar,Step 1: Serve warm.\nStep 2: Mix ingredients.,Perfect for weekends.,174 kcal per serving,22 min,46 min,26 min,Medium,NaN,NaN,Modern Eats,NaN,"[5'Breakfast, _Quick]"
freq,1,9,9,1,5,23,3,8,5,4,38,NaN,NaN,24,NaN,26
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.440000,3.073000,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.297649,1.014825,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.200000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.750000,2.400000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,2.950000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,3.825000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,5.000000,NaN,NaN,NaN

In [275]:
# This code-block is from MISM3415 (data-mining) lecture
MAX_VALUES_TO_SHOW = 5

# for each column
for col in df.columns:
  print(col)

  # get a list of unique values, handling unhashable types like lists
  try:
    unique = df[col].unique()
  except TypeError:
    unique = pd.Series(
      df[col].apply(lambda x: str(x) if isinstance(x, list) else x)
    ).unique()

  # if number of unique values is less than 30, print the values. Otherwise print the
  # number of unique values
  # if len(unique) < MAX_VALUES_TO_SHOW:
  #   print(unique, "\n====================================\n\n")
  # else:

  print(unique[:MAX_VALUES_TO_SHOW])

  if len(unique) > MAX_VALUES_TO_SHOW:
    print(
      str(len(unique) - MAX_VALUES_TO_SHOW) + "more unique values",
      "\n====================================\n\n",
    )

created
['2021-10-18 22:55:02' '2024-10-26 15:51:53' '2023-04-02 09:54:56'
 '2024-09-10 03:49:55' '2022-07-26 16:56:22']
95more unique values
====================================


name
['Herb-Roasted Chicken' 'Coconut Curry Soup' 'Spicy Mango Margarita'
 'Vegan Power Bowl' 'Homemade Pizza Margherita']
10more unique values
====================================


description
['A delicious recipe for herb-roasted chicken perfect for any occasion.'
 'A delicious recipe for coconut curry soup perfect for any occasion.'
 'A delicious recipe for spicy mango margarita perfect for any occasion.'
 'A delicious recipe for vegan power bowl perfect for any occasion.'
 'A delicious recipe for homemade pizza margherita perfect for any occasion.']
10more unique values
====================================


ingredients
['2 tbsp lemon juice\n5 pcs chicken breast\n4 cups flour\n5 cups sugar'
 '1 pcs onion\n5 tsp pepper\n2 pcs chicken breast\n1 cups flour\n2 pcs garlic cloves'
 '5 pcs garlic cloves\n3 cups sugar\n1 pcs onion\n5 tbsp lemon juice'
 '4 tsp salt\n1 tsp pepper\n3 pcs chicken breast\n3 cups sugar\n1 pcs onion'
 '2 pcs chicken breast\n2 tsp salt\n1 tbsp olive oil\n5 pcs garlic cloves']
95more unique values
====================================


directions
['Step 1: Preheat oven to 375Â°F.\nStep 2: Cook until golden.\nStep 3: Let it cool before serving.\nStep 4: Mix ingredients.'
 'Step 1: Cook until golden.\nStep 2: Serve warm.\nStep 3: Preheat oven to 375Â°F.\nStep 4: Mix ingredients.'
 'Step 1: Mix ingredients.\nStep 2: Preheat oven to 375Â°F.\nStep 3: Serve warm.\nStep 4: Cook until golden.'
 'Step 1: Let it cool before serving.\nStep 2: Cook until golden.\nStep 3: Serve warm.\nStep 4: Mix ingredients.'
 'Step 1: Mix ingredients.\nStep 2: Let it cool before serving.']
63more unique values
====================================


notes
['Best served fresh!' 'Add extra spices for flavor.' 'Kid-friendly.'
 'Perfect for weekends.' <NA>]
nutritional_info
['217 kcal per serving' '413 kcal per serving' '141 kcal per serving'
 '246 kcal per serving' '356 kcal per serving']
82more unique values
====================================


prep_time
['13 min' '19 min' '15 min' '8 min' '22 min']
21more unique values
====================================


cook_time
['56 min' '38 min' '17 min' '48 min' '12 min']
40more unique values
====================================


total_time
['71 min' '37 min' '40 min' '39 min' '50 min']
55more unique values
====================================


difficulty
['Easy' 'Medium' 'Hard']
servings
[5 7 8 4 2]
3more unique values
====================================


rating
[4.6 3.7 3.8 3.3 1.2]
30more unique values
====================================


source
["Grandma's Cookbook" 'Chef AI' 'Casa Walling-Sotolongo' 'Modern Eats'
 'Test Kitchen']
source_url
[<NA>]
categories
['["2\'Main Dishes", \'_Healthy\']'
 '["1\'Drinks + Cocktails", \'_Try these\']'
 '["5\'Breakfast", \'_Quick\']' '["3\'Desserts", \'_Favorites\']'
 '["4\'Soups", \'_Vegan\']']

## Cleansing

In [276]:
# Add new column for "been tried"
df["been_tried"] = df["rating"].apply(
  lambda x: False if x is None or x == "0" else True
)

In [277]:
# created currently str '2022-12-03 17:55:09' -> DateTime
from datetime import datetime

df["created"] = df["created"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))

In [278]:
pd.set_option("display.max_colwidth", 1000)
df["name"][df["name"].apply(lambda x: not x.isascii() or not x[0].isalpha())]

Series([], Name: name, dtype: object)

In [279]:
# drop rows of df[name] where starts with "_" since these are
# categories or labels in the given dataset
mask = df["name"].str.startswith("_")
print(f"dropping {mask.sum()} placeholder recipes")
df = df.loc[~mask].reset_index(drop=True)

dropping 0 placeholder recipes

In [280]:
# get rid of "fake" recipes
df["clean_name"] = df["name"]

non_ascii_subsitutions = {
  "â€™": "'",
  "â€˜": "'",
  "ðŸ¦ƒ": "(Thanksgiving)",
  "ðŸ˜‹": " ",
  "ðŸª": " ",
  ",": ",",
  "!!!*THE*": "The",
}

# make character subsitutions for non_ascii_substitutions in df["clean_name"]
for src, dst in non_ascii_subsitutions.items():
  df["clean_name"] = df["clean_name"].str.replace(src, dst, regex=False)


df["clean_name"][df["clean_name"].apply(lambda x: not x.isascii())]

Series([], Name: clean_name, dtype: object)

In [ ]:
# categories is string of "["1\'Drinks + Cocktails", \'_Try these\']",
starting_tags = set()
ending_tags = set()


def _parse_categories(categories: list[str]) -> list[str]:
  """Does data cleaning on the categories.

  Harmonizes following patterns:
  - removes unneeded whitespace
  - replaces non-ascii character with ascii equivalent
  - handle numeric and underscore format used for internal organization

  Args:
      categories: list of categories to harmonize

  Returns:
      the harmonize category tags
  """
  cleaned = []
  for tag in categories:
    starting_tags.add(tag)
    tag = tag.strip()

    # remove numeric prefix like 1' or 2'
    tag = tag.replace("â€™", "'")
    if "'" in tag and tag[0].isnumeric():
      tag = tag.split("'", 1)[1].strip()
    # remove leading underscore used for internal tags
    if tag.startswith("_"):
      tag = tag[1:]

    if len(tag) == 0:
      continue

    ending_tags.add(tag)
    cleaned.append(tag)
  return cleaned


# create a new column with parsed category lists
df["categories_parsed"] = df["categories"].apply(_parse_categories)
print(f"{starting_tags=},\n {ending_tags=}")

starting_tags={"4'Soups", '_Try these', "5'Breakfast", "2'Main Dishes", "1'Drinks + Cocktails", '_Healthy', '_Favorites', '_Vegan', "3'Desserts", '_Quick'},
 ending_tags={'Healthy', 'Desserts', 'Main Dishes', 'Try these', 'Soups', 'Favorites', 'Breakfast', 'Vegan', 'Quick', 'Drinks + Cocktails'}

In [282]:
time_columns = ["prep_time", "cook_time", "total_time"]

for time_column in time_columns:
  print(f"\ncreating duration in minutes column for '{time_column}'")

  # try to convert disparate time formats
  temp = df[time_column].str.replace("mins", "minutes")
  temp = temp.str.replace("hrs", "hours")

  # remove bad formats
  temp = temp.mask(
    temp.str.contains(r"\b(?:or|chilling)\b", case=False, na=False), pd.NA
  )
  temp = temp.mask(temp.str.contains(r"[-â€“â€”\\\/:]", na=False), pd.NA)

  # show the amount of rows which could not be converted
  print(
    f"ignoring {temp.isna().sum() - df[time_column].isna().sum()}"
    " rows due to poor formatting"
  )

  # do basic time conversion
  temp = (pd.to_timedelta(temp).dt.total_seconds() // 60).astype(pd.Int64Dtype())
  df[f"{time_column}_min"] = temp

creating duration in minutes column for 'prep_time'
ignoring 0 rows due to poor formatting

creating duration in minutes column for 'cook_time'
ignoring 0 rows due to poor formatting

creating duration in minutes column for 'total_time'
ignoring 0 rows due to poor formatting

In [283]:
df = df.dropna(
  subset=["notes", "directions", "description", "ingredients", "clean_name"],
  how="all",
)

In [284]:
df = df.convert_dtypes()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   created            100 non-null    datetime64[ns]
 1   name               100 non-null    string
 2   description        100 non-null    string
 3   ingredients        100 non-null    string
 4   directions         100 non-null    string
 5   notes              81 non-null     string
 6   nutritional_info   100 non-null    string
 7   prep_time          100 non-null    string
 8   cook_time          100 non-null    string
 9   total_time         100 non-null    string
 10  difficulty         100 non-null    string
 11  servings           100 non-null    Int64
 12  rating             100 non-null    Float64
 13  source             100 non-null    string
 14  source_url         0 non-null      object
 15  categories         100 non-null    object
 16  been_tried         100 non-null    boolean
 17  clean_name         100 non-null    string
 18  categories_parsed  100 non-null    object
 19  prep_time_min      100 non-null    Int64
 20  cook_time_min      100 non-null    Int64
 21  total_time_min     100 non-null    Int64
dtypes: Float64(1), Int64(4), boolean(1), datetime64[ns](1), object(3), string(12)
memory usage: 17.2+ KB

In [285]:
df.describe(include="all")

,created,name,description,ingredients,directions,notes,nutritional_info,prep_time,cook_time,total_time,...,rating,source,source_url,categories,been_tried,clean_name,categories_parsed,prep_time_min,cook_time_min,total_time_min
count,100,100,100,100,100,81,100,100,100,100,...,100.0,100,0,100,100,100,100,100.0,100.0,100.0
unique,NaN,15,15,100,68,4,87,26,45,60,...,<NA>,5,0,5,1,15,5,<NA>,<NA>,<NA>
top,NaN,Classic Beef Stew,A delicious recipe for classic beef stew perfect for any occasion.,2 tbsp lemon juice\n5 pcs chicken breast\n4 cups flour\n5 cups sugar,Step 1: Serve warm.\nStep 2: Mix ingredients.,Perfect for weekends.,174 kcal per serving,22 min,46 min,26 min,...,<NA>,Modern Eats,NaN,"[5'Breakfast, _Quick]",True,Classic Beef Stew,"[Breakfast, Quick]",<NA>,<NA>,<NA>
freq,NaN,9,9,1,5,23,3,8,5,4,...,<NA>,24,NaN,26,100,9,26,<NA>,<NA>,<NA>
mean,2023-03-22 22:36:23.109999872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.073,NaN,NaN,NaN,NaN,NaN,NaN,18.2,35.55,52.53
min,2021-01-18 01:36:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.2,NaN,NaN,NaN,NaN,NaN,NaN,5.0,11.0,20.0
25%,2022-05-13 22:34:39.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.4,NaN,NaN,NaN,NaN,NaN,NaN,13.0,24.75,33.0
50%,2023-03-29 04:48:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.95,NaN,NaN,NaN,NaN,NaN,NaN,19.0,36.0,50.5
75%,2024-02-27 16:08:51.750000128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.825,NaN,NaN,NaN,NaN,NaN,NaN,23.0,47.0,71.75
max,2024-12-23 21:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,30.0,59.0,90.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.014825,NaN,NaN,NaN,NaN,NaN,NaN,7.355339,13.895988,21.372339

In [286]:
df.to_json(OUTPUT_PATH, index=False, orient="records", indent=2)